{% extends "skosapp/header.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div style="padding:40px;margin:40px;border:1px solid #ccc">
        <div class="row">
            <div class="col-md-10">
                <h1>Upload text to analyze</h1>
                <p>If you need to upload a thesaurus, click <a href="{% url 'upload_thesaurus' %}">here</a>.</p>
                <p>If you need to delete all the list of thesaurus, click <a href="{% url 'reset_thesaurus' %}">here</a>.</p>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="text_area" id="TextArea" rows="10">Type or copy text</textarea>
                        <label for="ChooseThesaurus">Choose thesaurus </label>
                        <select class="form-control" name="select_thesaurus">
                            {% for key, value in thesaurus_dict.items %}
                                <option>{{ value }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Analyze</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}